<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if @products.count == 0 %>
        <h1 class="red">No products were found for that search term</h1>
      <% end %>
      <h2>Results: <%= @products.count %></h2>
    </div>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-3 product" id="product-<%= product.name %>">
        <h5 class="product-name"><%= product.name %></h5>
        <p class="product-sku">SKU: <%= product.sku %></p>
        <%= image_tag product.image, class: "product-image" %>
        <p class="product-short-description"><%= product.short_description %></p>
        <p class="product-review">Customer Review Average: <%= product.customer_review_average %></p>
        <p class="product-sale-price">Sale Price: $<%= product.sale_price %></p>
      </div>
    <% end %>
  </div>
</div>
